*{
    margin: 0;
    padding: 0;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.bgc{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 20px 10px;
    background: #18e51e;
}

li{
    list-style: none;
}

